* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.background {
  background-image: url("/images/fondo_pantalla_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.initial-container-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.message-content {
  padding: 1em;
  background-color: #e4e4e4;
  border-radius: 20px;
  width: 45%;
  margin-top: 8em;
  height: 70vh;
}

.individual-message {
  margin-top: 1em;
  padding: 10px;
  background: #acd8b0;
  border-radius: 4px;
  width: max-content;
}

.individual-message-own {
  margin-top: 1em;
  padding: 10px;
  background: #a2d5f2;
  border-radius: 4px;
  width: max-content;
  margin-left: auto;
  text-align: right;
}

.message-form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
}

.messages-text {
  height: 53vh;
  overflow-y: auto;
  margin-bottom: 1em;
}

.message-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-self: center;
}

.message-form button {
  padding: 10px 20px;
  background-color: #61c1ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-form button:hover {
  background-color: #489dc2;
}

.title-messages {
  font-size: 25px;
  background-color: transparent !important;
  text-align: center !important;
}
