* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.initial-container {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 15em;
}

.background {
  background-image: url("/images/fondo_pantalla_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.profile-content {
  margin-top: 8em;
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.row-profile {
  display: flex;
  flex-direction: row;
}

.column-follow {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #61c1ea;
  border-radius: 100px;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 0.8em;
}

.image {
  border-width: 50px;
  border-color: #61c1ea;
}

.paragraph {
  margin-top: 2em;
  margin-left: 2em;
}

.name {
  font-size: 15px;
}

.location {
  margin-top: 0.3em;
  font-size: 14px;
}

.contacts {
  margin-top: 0.3em;
  font-size: 13px;
  color: #61c1ea;
  font-weight: 800;
}

.row_menu {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.menu-option {
  border: 1px solid #000000 !important;
  border-radius: 20px !important;
  padding-left: 2.5em !important;
  padding-right: 2.5em !important;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.active {
  border: 3px solid #61c1ea !important;
  border-radius: 20px !important;
  padding-left: 2.5em !important;
  padding-right: 2.5em !important;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.config-container {
  margin-top: 2em;
  border: 1px solid #d9d9d9;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 2em;
}

.title-config {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.filter-options {
  margin-top: 0.6em;
  display: flex;
  flex-direction: column;
}

.filter-options label {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-options input[type="checkbox"] {
  margin-right: 10px;
}

.contact-label {
  margin-bottom: 0.2em;
}

.add-project-button {
  font-weight: 700;
  margin-top: 1.9em;
  margin-bottom: 2em;
  font-size: 16px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  text-decoration: underline;
  display: block;
}

.profile-list {
  font-size: 16px;
  margin-left: 1em;
}

.profile-project-location {
  font-size: 13px;
  margin-left: 1em;
  margin-top: 0.5em;
}

.profile-project-description {
  font-size: 14px;
  margin-left: 1em;
  margin-top: 0.5em;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4em;
}

.modal-title {
  margin-top: 1em;
}

.modal-input {
  margin-top: 1em;
  width: 100%;
  height: 2em;
  border-radius: 10px;
  padding: 1em;
}

.modal-container {
  width: 50%;
}

.modal-area {
  margin-top: 1em;
  width: 100%;
  border-radius: 10px;
  padding: 1em;
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.label {
  margin-top: 1em;
  font-size: 18px;
  font-weight: 600;
}

.btn-add-category,
.btn-save-project {
  border: none;
  margin-top: 1em;
  padding: 0.4em 0.4em;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.btn-add-category {
  background-color: transparent;
  color: #61c1ea;
  border: 2px solid #61c1ea;
  margin-bottom: 1em;
}

.btn-save-project {
  background-color: #61c1ea;
  color: white;
  padding: 1em 4em !important;
  font-size: 15px;
}

.new-categories-list {
  margin-top: 0.4em;
  margin-bottom: 1em;
}

.label-checkout {
  font-size: 16px;
  margin-bottom: 1.5em;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  gap: 1.5em;
}

.btn-follow,
.btn-message-user {
  border: none;
  padding: 0.5em 3em;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.btn-follow {
  margin-left: 3em;
  background-color: #61c1ea;
  color: white;
}

.btn-message-user {
  background-color: transparent;
  color: #61c1ea;
  border: 2px solid #61c1ea;
}
